/* Module Custom Styles */
body {
    min-height: 100vh;
    /*padding: 4rem 0;*/
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
    /*margin-top: 50px;*/
}

.pointerOnMe,
.h {
    cursor: pointer;
}

table.tblprenotazioni {
    width: 100%;
    /*max-width: 50rem;*/
}

    table.tblprenotazioni tr:nth-child(even) th {
        /*color: #ccc;
                font-weight: normal;*/
    }

    table.tblprenotazioni th,
    table.tblprenotazioni td {
        /*padding: 0.5rem 1rem;*/
        padding: 2px;
    }

    table.tblprenotazioni th {
        font-weight: bold; /*normal;*/
        border-top: thin dotted white;
    }

    table.tblprenotazioni td {
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.4;
        border-radius: 0.2rem;
        transition: opacity 0.3s ease;
    }

        table.tblprenotazioni td > span {
            font-size: 0.9em;
            font-weight: normal;
            display: block;
            width: 100%;
        }


.h {
    padding: 5px 2px 15px 10px;
    color: white;
}

    .h span {
        font-weight: normal;
    }

.testoprenotazione {
    padding-left: 5px;
}

/* COLORI H */
.hPrenotataMaestro {
    background-color: orange; /*#FFA726;*/
    border-radius: 6px;
    opacity: 0.8;
    cursor: default;
}

.hPrenotataSocio {
    background-color: #0A99AB; /*#26C6DA;*/
    border-radius: 6px;
    opacity: 0.8;
    cursor: default;
}

.hPrenotataAmico {
    background-color: chocolate;
    border-radius: 6px;
    opacity: 0.8;
    cursor: pointer;
}

.hPrenotataNonSocio {
    background-color: cornflowerblue;
    border-radius: 6px;
    opacity: 0.8;
    cursor: default;
}

.hPrenotabile:hover {
    background-color: #28a745; /*#28a745=verde*/
    border-radius: 6px;
    opacity: 0.5;
}

.hPrelazionata {
    background-color: #28a745; /*#28a745=verde*/
    border-radius: 6px;
    /*opacity: 0.5;*/
}

#imgCart2 {
    font-size: 24px;
}

#imgCart2 {
    fill: white;
}

#imgCart {
    font-size: 64px;
}

#imgCart {
    fill: white;
}

/* disabilita il click sul button interno al div*/
.wrapperPaypalButton {
    z-index: 1000;
    pointer-events: none;
}



/* ajaz spinning con animazione */
.myspinnerAjax {
    width: 100px;
    height: 100px;
    background-color: #0CB1C4;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
